<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SIMONS - Proyecto</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebars.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.dataTables.min.css}">

    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<svg th:replace="~{fragments/sidebar :: svgIcons}"></svg>
<main>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="divider"></div>
    <div class="container overflow-auto">
        <div class="container mt-5">
            <h2>Formulario de Proyecto</h2>
            <form id="proyectoForm" method="post">
                <input type="hidden" id="proyectoId" name="id">
                <input type="hidden" id="actionForm" value="guardar">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="col mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col mb-3">
                        <label for="fechaFin" class="form-label">Fecha de Fin</label>
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="distrito" class="form-label">Distrito</label>
                        <input type="text" class="form-control" id="distrito" name="distrito" required>
                    </div>
                    <div class="col mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(function(link) {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            } else {
                link.classList.add('link-dark');
            }
        });
    });
</script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
</body>
</html>